@page "/Planner/JobIndex"
@inherits JobIndexBase
    @*<div>
        @foreach (var msg in Messages)
        {
        <div class="alert @StatusClass">@msg</div>
        }
    </div>*@

    <h1 class="page-title">Alle Taken</h1>

    @if (Jobs == null)
    {
        <p><em>Loading...</em></p>}
    else
    {
<table class="table">
    <thead>
        <tr>
            <th>TaakId</th>
            <th>Taakomschrijving</th>
            <th>Startdatum</th>
            <th>Einddatum</th>
            <th>Aanmaakdatum</th>
            <th>Status</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var job in Jobs)
        {
            <tr>
                <td>@job.Id</td>
                <td>@job.Name</td>
                <td>@job.StartDate</td>
                <td>@job.EndDate</td>
                <td>@job.DateAdded</td>
                <td>@job.Status</td>
                <td>
                    <a href="@($"Planner/JobEdit/{job.Id}")" class="btn btn-primary table-btn">
                        @*<i class="fas fa-info-circle"></i>*@
                        Edit
                    </a>
                    <a href="@($"Planner/JobDetail/{job.Id}")" class="btn btn-primary table-btn">
                        @*<i class="fas fa-info-circle"></i>*@
                        Details
                    </a>
                    <a href="@($"AppointmentPages/AppointmentAdd/{job.Id}")" class="btn btn-primary table-btn">
                        @*<i class="fas fa-edit"></i>*@
                        Afspraak maken
                    </a>
                    <a href="@($"Planner/JobDelete/{job.Id}")" class="btn btn-danger table-btn">
                        @*<i class="fas fa-edit"></i>*@
                        Verwijderen
                    </a>
                </td>
            </tr>
        }
    </tbody>
    <button class="btn btn-primary" @onclick="Getid">Statussen bekijken</button>
</table>
    }