@page "/AppointmentPages/AppointmentAdd"
@page "/AppointmentPages/AppointmentAdd/{Id}" 
@using StudiePlanner.Shared.Models
@inherits AppointmentAddBase

<section class="Appointment-add">
    @if (!Saved)
    {
        <h1 class="page-title">Nieuwe afspraak maken</h1>
        <EditForm Model="@Appointment" OnValidSubmit="@HandleValidSubmit" OnInvalidSubmit="@HandleInvalidSubmit">

            <DataAnnotationsValidator />
            <ValidationSummary />

            <div class="form-group">
                <label for="title">Titel: </label>
                <InputText id="title" class="form-control" @bind-Value="@Appointment.Title" placeholder="Titel"></InputText>
                <ValidationMessage For="@(() => Appointment.Title)" />
            </div>

            <div class="form-group">
                <label for="details">Details: </label>
                <InputText id="details" class="form-control" @bind-Value="@Appointment.Detail" placeholder="Details"></InputText>
                <ValidationMessage For="@(() => Appointment.Detail)" />
            </div>

            <div class="form-group">
                <label for="StartDate">Datum: </label>
                <InputDate id="StartDate" class="form-control" @bind-Value="@Appointment.Date" placeholder="Startdatum"></InputDate>
                <ValidationMessage For="@(() => Appointment.Date)" />
            </div>

            <div class="form-group row">
                <label for="AppointmentType" class="col-sm-3">Voorkeur contactvorm: </label>
                <InputSelect id="AppointmentType" class="form-control col-sm-8" @bind-Value=@Appointment.AppointmentType>
                    <option value="@(AppointmentType.Chat)">@AppointmentType.Chat</option>
                    <option value="@(AppointmentType.Email)">@AppointmentType.Email</option>
                    <option value="@(AppointmentType.Persoonlijk)">@AppointmentType.Persoonlijk</option>
                    <option value="@(AppointmentType.Telefonisch)">@AppointmentType.Telefonisch</option>
                </InputSelect>
            </div>

            <button type="submit" class="btn btn-primary">Opslaan</button>
        </EditForm>
    }
    else
    {
        <div class="alert @StatusClass">@Message</div>
        <a class="btn btn-outline-primary" @onclick="@NavigateToOverview">Terug naar overzicht</a>
    }
</section>